<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id = "helloWorld" 
   		 class = "com.javajacob.SpringDemo.HelloWorld" 
   		 scope="prototype"
   		 init-method="init"
   		 destroy-method="destroy">
      <property name = "message" value = "Hello World!"/>
   </bean>
   
   <bean class="com.javajacob.SpringDemo.InitHelloWorld"></bean>
   
   <bean id="parentHelloWorld" class="com.javajacob.SpringDemo.ParentHelloWorld">
   	<property name="message1" value="parent-message1"></property>
   	<property name="message2" value="parent-message2"></property>
   </bean>
   
   <bean id="childHelloWorld" class="com.javajacob.SpringDemo.ChildHelloWorld"
   		parent="parentHelloWorld">
   	<property name="message1" value="child-message1"></property>
   	<property name="message3" value="child-message3"></property>
   </bean>

</beans>